<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name ="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X=UA-COmpatible" content="ie=edge">
    <link rel="stylesheet" 
      href= "{{ url_for('static', 
      filename='css/style.css')}}"
    />
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-V9PCNMN899"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-V9PCNMN899');
    </script>
    <a href ="{{ url_for('home.index')}} " style="color: blue; font-weight: bold"><- Go Back Home</a>
    <h1 style="text-align: center;">{% block header %}{% endblock %}</h1>
    {% block head %}{% endblock %}
  </head>
  <br>
  {% block body %}{% endblock %}
</html>